OPENAI_API_KEY=
OPENAI_REPHRASE_MODEL=gpt-4o-2024-08-06

IMAGENET_DATASET_DIR=/path/to/imagenet
HF_DATASETS_CACHE=/path/to/huggingface-cache
VIT_ADAPTER_SAVE_DIR=vit_setup/data/adaptors/vit_l/epoch_3
VIT_EVAL_OUTPUT_DIR=vit_setup/data/adaptor_info/vit_l/epoch_3
VIT_INFERENCE_OUTPUT_PATH=vit_setup/shark_predictions.pkl
